@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: azure;
    background-size: cover;
    background-position: center;
}
.wrapper {
    position: relative;
    width: 420px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
    transition: 0.5s ease;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.input-box input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}
.input-box input::placeholder {
    color: #999;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
}
.wrapper .btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.wrapper .btn:hover {
    background: #0056b3;
}
.register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.register-link a {
    color: #007bff;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
.error-message-all {
    font-size: .85rem;
    color: red;
    text-align: center;
    display: none;
}
